BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110
AccessModifierOffset: -4
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: None
FixNamespaceComments: true
IncludeBlocks: Preserve
SortIncludes: CaseSensitive
